

* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: gray;
    line-height: 24px;
}
header.head{
    padding: 50px;
    height: 100px;
    background-color:black;
}
header.head img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 23px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
.sub-head{
    text-align: center;
    color: #0a192e;
    margin-top: 140px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
.sub-head h3{
    color: #aa8072;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0.2em;
}
.sub-head a{
    color: rgb(110, 110, 173);
    margin-top: 15px;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 0.2em;
}
.sub-head a:hover{
    color: blue;
    text-decoration: underline;
}
hr {
    border-top: 3px solid gray;
    width: 60%;
    margin-top:70px;
    margin-left: auto;
    margin-right: auto;
}
.submain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 250px;
}
.submain div{
    margin-bottom: -70px;
}
.submain h2 {
    color: rgb(110, 110, 173);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.submain h3, h4, ul{
    font-size: 15px;
}
.sub-header{
    color: rgb(110, 110, 173);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-top: 120px;
    text-align: center;
}
.sub-sec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 97px;
    align-items: center;
    margin: 20px;
    margin-bottom: 200px;
    margin-left: 250px;
}
.sub-sec div{
    margin-bottom: -70px;
}
.sub-sec h3, h4, ul{
    font-size: 15px;
}

.btn-group{
    margin-top: -80px;
    margin-bottom: 40px;
    text-align: center;
}

.btn {
    background-color: rgb(110, 110, 173);
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
    background-color: blue;
}

@media only screen and (max-width: 414px) {
    .submain{
        display: grid;
        grid-template-columns: auto;
        margin: 10px;
    }
    .sub-sec{
        display: grid;
        grid-template-columns: auto;
        margin-left: 10px;
    }
}